@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> HOME PAGE </h1>
</div>
<div>
    @helper ShowList(string[] args)
    {
        if (args.Length == 0)
        {
            <label>No elements in list</label>
        }
        else
        {
            <ul>
                @foreach (string str in args)
                {
                    <li>@str</li>
                }
            </ul>
        }
    }
</div>

<div class="row">
    <div class="col-md-4">
        @ShowList(new string[] { "JAN", "FEB", "MAR", "APR" });
    </div>
    <div class="col-md-4">
        @ShowList(new string[] { "SAT", "SUN", "MON", "TUE" });
    </div>
    <div class="col-md-4">
        @ShowList(new string[] { });
    </div>
</div>